:root {
  --color-main-brown: #705a66;
  --color-main-white: #f5f7f8;
  --color-main-light: #f5eee0;
  --color-secondary-white: #ffffff;
  --color-secondary-light: #ddd5c6;
  --color-main-blue: #2f80ed;
  --color-main-gray: #8e8e93;
  --color-secondary-red: #ef2737;
}

$mobile: 375px;
$desktop: 1440px;
